body {
  background-color: silver;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#mono {
  direction: column;
  font-size: 1em;
  background-color: white;
  width: 960px;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0 0 20px black;
  box-sizing: border-box;
}

#root {
  flex: 1 0 auto;
}

.navlinks {
  list-style-type: none;
  margin: 0;
  background-color: forestgreen;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.navlink > a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 5px;
}

.navlink > a:hover {
  background-color: rgb(80,80,80);
}

main > h1 {
  font-size: 1em;
}

footer {
  display: flex;
  justify-content: center;
  bottom: 0;
  position: static;
}